network:
  version: 2
  renderer: networkd
  ethernets:
    enp3s0:
      addresses:
        - ${ipaddr}
      nameservers:
        search: [mydomain, otherdomain]
        addresses: [1.1.1.1]
      routes: 
        - to: default
          via: 11.1.0.1